@model PursiXMVC.Models.User.EditUserInfoModel
@using Microsoft.AspNetCore.Http;

<div class="text-center">
    <i class="fas fa-user-cog fa-6x pt-2 pb-2"></i>
</div>

<h3>Yhteystietojen muokkaus</h3>
<span class="font-italic text-primary ">Käyttäjä: @Context.Session.GetString("username")</span>
@ViewBag.error
<div>
    <a asp-action="EditUserPassword" asp-controller="Account" class="btn btn-info mb-2 mt-1"><i class="fas fa-key"></i> Vaihda salasana</a>
</div>

<form method="post" asp-controller="account" asp-action="edituserinfo">
    <input type="hidden" asp-for="LoginId" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <p><span asp-validation-for="FirstName" class="text-danger"></span></p>
        <span>Etunimi:</span>
        <div class="input-group">
            <input type="text" asp-for="FirstName" class="form-control">

        </div>
    </div>

    <div class="form-group">
        <p><span asp-validation-for="LastName" class="text-danger"></span></p>
        <span>Sukunimi:</span>
        <div class="input-group">
            <input type="text" asp-for="LastName" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <p><span asp-validation-for="Address" class="text-danger"></span></p>
        <span>Lähiosoite:</span>
        <div class="input-group">
            <input type="text" asp-for="Address" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <p><span asp-validation-for="PostalCode" class="text-danger"></span></p>
        <span>Postinumero:</span>
        <div class="input-group">
            <input asp-for="PostalCode" maxlength="5" min="0" class="form-control" type="text" onkeypress="return isNumberKey(event)">
            <script>
                    function isNumberKey(evt) {

                        var charCode = (evt.which) ? evt.which : event.keyCode

                        if (charCode > 31 && (charCode < 48 || charCode > 57))

                            return false;

                        return true;

                    }
            </script>
        </div>
    </div>

    <div class="form-group">
        <p><span asp-validation-for="City" class="text-danger"></span></p>
        <span>Postitoimipaikka:</span>
        <div class="input-group">
            <input type="text" asp-for="City" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <p><span asp-validation-for="Phone" class="text-danger"></span></p>
        <span>Puhelinnumero:</span>
        <div class="input-group">
            <input type="tel" asp-for="Phone" class="form-control">
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Tallenna yhteystiedot</button>

    <a class="btn btn-secondary" asp-action="Index" asp-controller="Events">Peruuta</a>



</form>