@{
    ViewData["Title"] = "Yhteystiedot";
}
<div style="background: rgb(245, 250, 255); border-radius: 2px; padding: 20px;">
    <h3>PursiX MVC</h3>
    <p>
        Katuosoite 123<br />
        00000 Paikkakunta<br />
        0441234567

    </p>
    <strong>Toimiston aukioloajat</strong>
    <ul class="">
        <li class="list-unstyled"><span class="">maanantai</span>&nbsp;<span class="text-info">9–14</span></li>
        <li class="list-unstyled"><p class="font-italic">(Muina aikoina olkaa yhteydessä puhelimitse.)</p></li>
    </ul>

    <h4>Ylläpidon sähköpostiosoite: <font class="text-info">yourapplicationgmailaccount@gmail.com</font></h4>
</div>